<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$title}-审计企业管理-添加法人</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='审计对象管理 > 添加法人';
    </php>
    <include file="Common:intoHead"/>

    <js href="--PUBLIC--/Js/laydate.js"/>
    <js href="--PUBLIC--/Js/jquery-validate.js"/>
</head>
<body>
<div class="wrap">
    <include file="Common:head"/>
    <div class="mainBody">
        <include file="Common:left"/>
        <div id="Right">
            <div class="contentArea">
                <div class="Item hr clearfix">
                    <div class="current">添加审计对象</div>
                </div>
                <form action="" method="post">
                    <table width="80%" border="0" cellspacing="0" cellpadding="0" class="table1">

                        <tr>
                            <th width="120">法人名称：</th>
                            <td><input name="corporation" type="text" class="input" size="40" value="{$info.corporation}"/></td>
                        </tr>
                        <tr>
                            <th width="120">开始时间：</th>
                            <td><input class="laydate-icon" id="startTime" style="width:200px; margin-right:10px;" name="startTime" type="text" size="40" value="{$info.startTime}" /></td>
                            <!--<td><input name="time" type="text" class="input" size="40" value="{$info.time}"/></td>-->
                        </tr>

                        <tr>
                            <th width="120">结束时间：</th>
                            <td><input class="laydate-icon" id="endTime" style="width:200px;" name="endTime" type="text" size="40" value="{$info.endTime}" /></td>
                            <!--<td><input name="time" type="text" class="input" size="40" value="{$info.time}"/></td>-->
                        </tr>

                        <tr>
                            <th width="120">备注：</th>
                            <td><input name="explain" type="text" class="input" size="40" value="{$info.explain}"/></td>
                        </tr>


                    </table>
                    <input type="hidden" name="id" value="{$info.id}"/>
                </form>
                <div class="commonBtnArea" >
                    <button class="btn submit" visiable = "false">添加</button>

                    <a class="btn" href="__URL__/editCorporation?id={$id}" visiable = "false">返回</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<include file="Common:foot"/>
<script type="text/javascript">
    $(".submit").click(function () {
        commonAjaxSubmit();
    });

    var start = {
        elem: '#startTime',
        format: 'YYYY/MM/DD',
        min: '1900-01-01', //设定最小日期为当前日期
        max: '2099-06-16', //最大日期
        istime: false,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#endTime',
        format: 'YYYY/MM/DD',
        min: '1900-01-01',
        max: '2099-06-16',
        istime: false,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>
</body>
</html>
