<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>审计企业管理-后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='审计对象 > 审计对象列表';
    </php>
    <include file="Common:intoHead"/>
</head>
<body>
<div class="wrap">
    <include file="Common:head"/>
    <div class="mainBody">
        <include file="Common:left"/>
        <div id="Right">
            <div class="Item hr clearfix">


                <div class="current">
                    <eq name="ACTION_NAME" value="index">审计对象列表</eq>
                    <eq name="ACTION_NAME" value="search">搜索结果</eq>
                </div>
                <div class="search">
                    <form action="{:U('search')}" method='post'>
                        部门：
                        <if condition="($Think.session.my_info.aid eq 10) OR ($Think.session.my_info.position eq 1)">
                            <!--<select name="department" id="department" style="width:90px" onchange="onchangeShow(this.value)">-->
                            <select name="department" id="department" style="width:90px" onchange="onchangeShow(this.value)">
                                {$dp.pidOption}
                            </select>
                            <else />

                            {$dp[$did]['dname']}
                            <input type="hidden" value="{$Think.session.my_info.department}" name="department" />
                        </if>
                        人员：
                        <if condition="($Think.session.my_info.aid eq 10) OR ($Think.session.my_info.position neq 3)">
                            <select type="hidden" name="user" id="user">
                                <option value="0">全部人员</option>
                                <volist name="user" id="vo">
                                    <option value="{$vo.aid}"<eq name="vo.aid" value="$keys.user"> selected</eq>>{$vo.realname}</option>
                                </volist>
                            </select>
                            <else />
                            {:session('my_info.nickname')}
                            <input type="hidden" value="{$Think.session.my_info.aid}" name="user" />
                        </if>
                        搜索字段：
                            <select name="field">
                                <option value="name" <eq name="keys.field" value="name">selected="selected"</eq>>名称</option>
                                <option value="NSRBM" <eq name="keys.field" value="NSRBM">selected="selected"</eq>>纳税人编码</option>
                                <option value="LY" <eq name="keys.field" value="LY">selected="selected"</eq>>领域</option>
                                <option value="BSJDWFL" <eq name="keys.field" value="BSJDWFL">selected="selected"</eq>>被审计单位分类</option>
                                <option value="YSLB" <eq name="keys.field" value="YSLB">selected="selected"</eq>>预算类别</option>
                                <option value="SJZQ" <eq name="keys.field" value="SJZQ">selected="selected"</eq>>审计周期</option>
                            </select>
                        &nbsp;&nbsp;关键字：
                        <input type="text" value="{$keys.keyword}" name="keyword" class="input"
                               placeholder="搜索对应字段关键字"/>
                        &nbsp;&nbsp;<button class="btn">筛选</button>
                    </form>
                </div>


            </div>

            <!--<eq name="ACTION_NAME" value="search">-->
                <!--<div class="seamsg">-->
                    <!--搜索的关键词<span class="keyword">{$keys.keyword}</span>在<span-->
                        <!--class="keyword">{$keys.field}</span>字段内找到<span class="keyword">{$keys.count}</span>条-->
                <!--</div>-->
            <!--</eq>-->

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>名称</td>
                    <!--<td>区域类型</td>-->
                    <!--<td>级别</td>-->
                    <!--<td>预算单位</td>-->
                    <!--<td>等级</td>-->
                    <!--<td>审计周期</td>-->
                    <td width="150">操作</td>
                </tr>
                </thead>
                <volist name="list" id="vo">
                    <tr align="center" aid="{$vo.id}">
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <!--<td>{$vo.area_type}</td>-->
                        <!--<td>{$vo.leval_type}</td>-->
                        <!--<td>{$vo.unit}</td>-->
                        <!--<td>{$vo.leval}</td>-->
                        <!--<td>{$vo.cycle}</td>-->
                        <!--<td>-->
                            <!--<if condition="$vo.cstatus eq 1">启用-->
                                <!--<else/>-->
                                <!--禁用-->
                            <!--</if>-->
                        <!--</td>-->
                        <td>
                            <!--[ <a href="javascript:void(0);" class="opStatus" val="{$vo.cstatus}">-->
                            <!--<if condition="$vo.cstatus eq 1">禁用-->
                                <!--<else/>-->
                                <!--启用-->
                            <!--</if>-->
                        <!--</a> ]-->
                            [<a href="__URL__/editSjObject?id={$vo.id}">编辑</a>]
                            [<a href="__URL__/editCorporation?id={$vo.id}">法人</a>]
                            [<a href="__URL__/editSituation?id={$vo.id}">审计情况</a>]

                            <!--[ <a href="__URL__/manageSjObject?id={$vo.id}&name={$vo.name}">管理审计情况</a> ]-->
                        </td>
                    </tr>
                </volist>
                <tr>
                    <td colspan="9" align="right" class="page">{$page}</td>
                    </td></tr>
            </table>
        </div>
    </div>
</div>
<div class="clear"></div>

<script type="text/javascript">
    $(function () {
        //快捷启用禁用操作
        $(".opStatus").click(function () {
            var obj = $(this);
            var id = $(this).parents("tr").attr("aid");
            var status = $(this).attr("val");
            $.getJSON("__URL__/opCompanyStatus", {id: id, status: status}, function (json) {
                if (json.status == 1) {
                    popup.success(json.info);
                    $(obj).attr("val", json.data.status).html(status == 1 ? "启用" : "禁用").parents("td").prev().html(status == 1 ? "禁用" : "启用");
                } else {
                    popup.alert(json.info);
                }
            });
        });

    });

    <if condition="($Think.session.my_info.aid eq 10) OR ($Think.session.my_info.position eq 1)">
        function onchangeShow(oneId){
            $.ajax({
                //url : "__URL__/getAdmin",
                url : "{:U('/Ks/a')}",
                data : {did : oneId}, // 参数
                type : "post",
                cache : false,
                dataType : "json", //返回json数据
                error: function(){
                    alert('error');

                    // error: function(XMLHttpRequest, textStatus, errorThrown) {
                    //      alert(XMLHttpRequest.status);
                    //      alert(XMLHttpRequest.readyState);
                    //      alert(textStatus)
                },
                success:onchangecallback
            });
        }
        function onchangecallback(data){

            document.all['user'].options.length = 0; //清空原有的option
            var str="";
            str+="<option value='0'>全部人员</option>"
            if(data!=null){
                for(var i=0;i<data.length;i++){
                    str+="<option value='"+data[i].aid+"'>"+data[i].realname+"</option>"
                }
            }
            $("#user").html(str);
        }

    </if>
</script>
<include file="Common:foot"/>
</body>
</html>
