<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>审计企业管理-后台管理-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='审计对象 > 管理审计情况信息';
    </php>
    <include file="Common:intoHead"/>

    <js href="--PUBLIC--/Js/laydate.js"/>
</head>
<body>
<div class="wrap">
    <include file="Common:head"/>
    <div class="mainBody">
        <include file="Common:left"/>
        <div id="Right">
            <div class="Item hr clearfix">

                <div class="search">
                    <form action="__URL__/editSituation?id={$info}" method='post'>
                        搜索字段：
                        <select name="field">
                            <option value="name" <eq name="keys.field" value="name">selected="selected"</eq>>名称</option>
                        </select>
                        &nbsp;&nbsp;关键字：
                        <input type="text" value="{$keys.keyword}" name="keyword" class="input"
                               placeholder="搜索对应字段关键字"/>
                        &nbsp;&nbsp;开始时间：
                        <input class="laydate-icon" id="startTime" style="width:200px; margin-right:10px;"
                               name="startTime" type="text" size="40" value="{$info.startTime}"/>
                        &nbsp;&nbsp;结束时间：
                        <input class="laydate-icon" id="endTime" style="width:200px;" name="endTime" type="text"
                               size="40" value="{$info.endTime}"/>
                        &nbsp;&nbsp;<button class="btn">筛选</button>

                        <a class="btn" href="__URL__/addSituation?id={$info}">添加</a>
                    </form>
                </div>


            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                <thead>
                <tr>
                    <td>id</td>
                    <td>名称</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td width="150">操作</td>
                </tr>
                </thead>
                <volist name="FRlist" id="vo">
                    <tr align="center" aid="{$vo.id}">
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.startTime}</td>
                        <td>{$vo.endTime}</td>
                        <td>
                            [ <a href="__URL__/editSituationDetail?id={$vo.id}">编辑</a> ]
                            [ <a href="__URL__/getfile?id={$vo.id}&url=<php>echo md5(session('my_info.aid').date("Y-m-d",time()).$vo["id"])</php>" target="_blank">下载</a> ]
                            [ <a link="{:U('/test/deleteSituation/',array('id'=>$vo['id']))}" href="javascript:void(0)" name="{$vo.name}" class="del">删除 </a> ]
                        </td>
                    </tr>
                </volist>
                <tr>
                    <td colspan="9" align="right" class="page">{$page}</td>
                    </td></tr>
            </table>
        </div>
    </div>
</div>
<div class="clear"></div>

<script type="text/javascript">
    $(function () {
        //快捷启用禁用操作
        $(".opStatus").click(function () {
            var obj = $(this);
            var id = $(this).parents("tr").attr("aid");
            var status = $(this).attr("val");
            $.getJSON("__URL__/opCompanyStatus", {id: id, status: status}, function (json) {
                if (json.status == 1) {
                    popup.success(json.info);
                    $(obj).attr("val", json.data.status).html(status == 1 ? "启用" : "禁用").parents("td").prev().html(status == 1 ? "禁用" : "启用");
                } else {
                    popup.alert(json.info);
                }
            });
        });

    });
    $(".del").click(function(){
        var delLink=$(this).attr("link");
        popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
            if(action == 'ok'){
                top.window.location.href=delLink;
            }
        });
        return false;
    });

    var start = {
        elem: '#startTime',
        format: 'YYYY/MM/DD',
        min: '1900-01-01', //设定最小日期为当前日期
        max: '2099-06-16', //最大日期
        istime: false,
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#endTime',
        format: 'YYYY/MM/DD',
        min: '1900-01-01',
        max: '2099-06-16',
        istime: false,
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>
<include file="Common:foot"/>
</body>
</html>
