<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>添加，编辑广告位-广告管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="|__JS__/advertising.js";
            $currentNav ='广告管理 > 添加，编辑广告位';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr clearfix">
                        <div class="current">添加，编辑广告位</div>
                    </div>
                    <form>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                            <tr>
                                <th width="100">广告位标示：</th>
                                <td>
                                    <input id="title" type="text" class="input" size="25" name="info[tagname]" value="{$info.tagname}"/>
                                    <span class="remark">
                                        <literal>在模板上添加广告位时的唯一标示{:showAdvPosition('广告位标示','html标签','false')}</literal>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th width="100">广告位名称：</th>
                                <td>
                                    <input id="title" type="text" class="input" size="25" name="info[name]" value="{$info.name}"/>
                                    <span class="remark">建议填写广告位的位置和用途，方便管理者进行广告</span>
                                </td>
                            </tr>
                            <tr>
                                <th width="100">广告位宽度：</th>
                                <td><input id="title" type="text" class="input" size="10" name="info[width]" value="{$info.width}"/></td>
                            </tr>
                            <tr>
                                <th width="100">广告位高度：</th>
                                <td><input id="title" type="text" class="input" size="10" name="info[height]" value="{$info.height}"/></td>
                            </tr>
                            <tr>
                                <th width="100">FLASH图片轮播：</th>
                                <td>
                                    <label id="rayes">
                                        <input type="radio" value="1" name="info[is_flash]">是
                                    </label>
                                    <label id="rano">
                                        <input type="radio" value="0" name="info[is_flash]">否
                                    </label>
                                    <select name="info[flash_style]">
                                        <option value="redfocus"<eq name="info[flash_style]" value="redfocus">selected="selected"</eq>>redfocus</option>
                                        <option value="pinkfocus" <eq name="info[flash_style]" value="pinkfocus">selected="selected"</eq>>pinkfocus</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th width="100">广告位模板：</th>
                                <td>
                                    <textarea rows="5" cols="60" name="info[style]" id="style" readonly="true">
                                        <literal>
                                            <table cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <foreach name="adv_list" item="adv" >
                                                    <td>{$adv.html}</td>
                                                    </foreach>
                                                </tr>
                                            </table>
                                        </literal>
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="info[id]" value="{$info.id}" />
                    </form>
                    <div class="commonBtnArea" >
                        <button class="btn submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
<script type="text/javascript">
    var isFlash = "{$info.is_flash}"; //单选按钮状态
    $(function(){
        // 初始化flash单选按钮
        if(isFlash == "1"){
            $("#rayes input[name='info[is_flash]']").attr('checked','checked');
            $("#style").val(advPositionSwf);
        }else{
            $("#rano input[name='info[is_flash]']").attr('checked','checked');
            $("#style").val(advpositionHTML);
        }
        // 初始化flash单选按钮_end
        // 单选按钮点击模板跟着变化
        $("input[name='info[is_flash]']").click(function(){
            var isflash= $(this).attr("value");
            if(isflash == 1){
                $("#style").val(advPositionSwf);
            }else{
                $("#style").val(advpositionHTML);
            }
        });
        // 单选按钮点击模板跟着变化_end
        // ajax提交表单
        $(".submit").click(function(){
            commonAjaxSubmit();
            return false;
        });
    });

</script>
    </body>
</html>
