<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>共享文件管理-后台管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='共享文件管理 > 本部门共享文件列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr clearfix">
                        <div class="current">文件类型列表</div>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <td>文件名称</td>
                                <td>所科室</td>
                                <td>备注</td>
                                <td width="150">操作</td>
                            </tr>
                        </thead>
                        <volist name="list" id="vo" key="k">
                            <tr align="center">
                            	<td>{$k}</td>
                                <td align="left" class="tree" style="cursor: pointer;">{$vo.s_name}</td>
                                <td>{$dp[$vo[s_did]][dname]}&nbsp;</td>
                                <td>{$vo.s_content}</td>                                
                                <td>[下载]<eq name="Think.session.my_info.aid" value="$vo['s_uid']">[ <a href="__URL__/edit?id={$vo.id}">编辑</a> ] [ <a link="{:U('/Share/del/',array('id'=>$vo['id']))}" href="javascript:void(0)" name="{$vo.id}" class="del">删除 </a> ]</eq></td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        
 <script type="text/javascript">
            $(function(){		
                
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
              
                
            });
        </script>        
    </body>
</html>
