<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>订单配置-后台管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='拍卖管理 > 订单配置';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr clearfix">
                        <div class="current">订单有效期配置</div>
                    </div>
                    <form>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                            <tr>
                                <th>拍卖：</th>
                                <td><input  style="text-align: right;" type="text" class="input" size="10" name="order[btime]" value="{$order.btime}"/>天有效期
                                </td>
                            </tr>
                            <tr>
                                <th>一口价：</th>
                                <td>
                                    <input  style="text-align: right;" type="text" class="input" size="10" name="order[ytime]" value="{$order.ytime}"/>天有效期
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    *不填写或者0为永久有效！*<br>*该配置为订单生成后支付时间段，如在该时间段未进行支付，用户将无法进行支付！保证金将被扣除！*
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="commonBtnArea" >
                        <button class="btn submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".submit").click(function(){
                    commonAjaxSubmit();
                    return false;
                });
            });
        </script>
    </body>
</html>
